.chart {
    position: relative;
    display: inline-block;
    font-family: 'Questrial', sans-serif;
}

canvas {
    display: block;
}

.axis.horizontal {
    border-top: black 1px solid;
}

.axis.vertical {
    border-right: black 1px solid;
}

.axis .marks .mark {
    position: absolute;
    background-color: black;
}

.axis .marks .mark.vertical{
    height: 1px;
    width: 10px;
    right: 0;
}

.axis .marks .mark.horizontal{
    height: 10px;
    width: 1px;
}

.axis .marks .mark .label{
    position: absolute;
    font-size: 12px;
}

.axis .marks .mark.vertical .label{
    right: 15px;
    transform: translate(0, -50%);
}

.axis .marks .mark.horizontal .label{
    top: 15px;
    transform: translate(-50%, 0);
}