body{
    user-select: none;
}
.chart {
    position: absolute;
    display: block;
    font-family: 'Questrial', sans-serif;
    margin-left: 50px;
}

canvas {
    display: block;
}

.axis.horizontal {
    border-top: black 1px solid;
}

.axis.vertical {
    border-right: black 1px solid;
}

.axis .marks .mark {
    position: absolute;
    background-color: black;
}

.axis .marks .mark.vertical {
    height: 1px;
    width: 10px;
    right: 0;
}

.axis .marks .mark.horizontal {
    height: 10px;
    width: 1px;
}

.axis .marks .mark .label {
    position: absolute;
    font-size: 12px;
}

.axis .marks .mark.vertical .label {
    right: 15px;
    transform: translate(0, -50%);
}

.axis .marks .mark.horizontal .label {
    top: 15px;
    transform: translate(-50%, 0);
}

.channel-legend {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 10px;
    top: 10px;
}

.channel-legend .channel {
    overflow: visible;
}

.channel-legend .channel .label {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    margin-left: 4px;
}

.channel-legend .channel .marker {
    width: 10px;
    height: 10px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.cursor {
    pointer-events: none;
    border-left: 1px solid black;
}

.cursor .marker {
    position: absolute;
}

.cursor .marker .label {
    position: absolute;
}

.cursor .marker .value {
    left: 14px;
    position: absolute;
    text-shadow: 1px 0 0 rgba(255, 255, 255, 1);
}

.cursor .marker .symbol {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}